{% extends "base.html" %}

{% block title %} live Feed {% endblock %}

{% block content %}

<style>
    body{
        margin:0;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    #container{
        width: 100%;
        height: 100%;
        /* border-style: solid; */
        border: none;
        border-color: blue;
        background-color: hsla(0, 0%, 29%, 0.989);
    }

    .myrow{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 100%;
        
    }

    .mycolumn{
        display:flex;
        flex-direction: column;
        /* border-style: solid; */
        border: none;
        border-color: red; 
        justify-content:center;
        align-items: center;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 35px;
    }

    /* .mycolumn img {
        align-self: flex-start; /* overrides center alignment just for the image 
    } */

    .centerBox{
        display:flex;
        border-style: solid;
        flex-direction: column;
        /* border-color: greenyellow; */
        border: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 200px;
        height: 200px;
        justify-content: center;
        align-items:center;
    }

    .footer{
        border-style: solid;
        /* border-color: red; */
        border: none;
        grid-column: span 2;
        height: 140px;
        background-color:hsla(0, 0%, 29%, 0.989)
    }

    #emotion1{
        height: 200px;
        width: 400px;
        align-self: flex-start;
    }

    #emotion2{
        height: 200px;
        width: 400px;
        align-self: flex-end;
    }

    button{
        width:100px;
        height: 70px;
        border-radius: 25px;
        background-color: hsl(120, 81%, 55%);
        font-family: sans-serif;
        font-weight: bold;
        
    }

    button:hover{
        background-color: hsl(120, 81%, 65%); 
        
    }

    .stop_button:hover{
        background-color: hsl(0, 98%, 61%);
    }
    
    .foot_content{
        width: 50%;
        margin: 0 auto;
        font-weight: bold;
        font-family: sans-serif;
        color: white;
        background-color: hsla(0, 0%, 29%, 0.989);

    }

    
</style> 

    <div id="container">
        <div class="myrow">
            <div class = "mycolumn">
                <img src="{{url_for('static',filename='sad_face.jpg')}}" id="emotion1">
                <div>SAD</div>
            </div>
            <div class = "mycolumn"> 
                <img src="{{url_for('static',filename='happy_face.jpg')}}" id="emotion2">
                <div>HAPPY</div>
            </div>
            <div class = "mycolumn">
                <img src="{{url_for('static',filename='disgust_face.webp')}}" id="emotion1">
                <div>DISGUST</div>
            </div>
            <div class = "mycolumn"> 
                <img src="{{url_for('static',filename='surprise_face.jpg')}}" id="emotion2">
                <div>SURPRISE</div>
            </div>
            <div class=" centerBox">
                <button id="start_button">START</button>
            </div>
            <div class = "footer">
                <div class="foot_content" style="text-align: center; font-family: sans-serif;">
                    <p>Privacy Statement
                        Please do not start if you have low self-esteem or confidence issues.
                        Your information and uploaded photos are not saved or shared.
                        Results are based on complex mathematical calculations performed
                        by a blind computer beauty calculator and could be incorrect.
                        
                        </p>
                        <a href="">contact</a>
                         | 
                        <a href="">blog</a>
                         | 
                        <a href="">Privacy Policy</a>
                         | 
                        <a href="">Term of Use</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        let url = "{{url_for('video')}}"
        let button = document.getElementById("start_button");
        let centerBox = document.getElementsByClassName("centerBox");
        let img = null;



        function record(event){
            if (button.textContent == "START"){
                //  create img tag
                img = document.createElement("img");
                img.src = url + "?t=" + new Date().getTime();
                // append img tag
                centerBox[0].prepend(img);
                button.style.backgroundColor = "hsl(0, 98%, 51%)";
                button.textContent = "STOP";
                button.classList.add("stop_button");
                
            }
            else{
                if(img && centerBox[0].contains(img)){
                    // remove img tag
                    centerBox[0].removeChild(img);
                }
                // Notify server to stop the stream
                fetch("/stop_video");

                // change button content
                button.textContent = "START";
                button.style.backgroundColor = "hsl(120, 81%, 55%)"
                button.classList.remove("stop_button");
                
            }
   
        
            
        }
        button.addEventListener("click", record);
    </script>
    <!-- <h1> Live-streaming </h1>
    <button id="start-button" onclick="display()">Start Detecting</button>
    <div id="video-container">
    </div>
    <script>
        let url = "{{url_for('video')}}";
        // let button = document.querySelector("#start-button");
        let button = document.getElementById("start-button")
        let container = document.getElementById("#video-container");

        function display() {
            let img = document.createElement('img');
            img.src = url;
            container.appendChild(img);
        }



    </script> -->
    {% endblock %}
